.Tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: fit-content;
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}