.SolucoesSection {
    text-align: center;
}

.SolucoesSectionCards {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .SolucoesSectionCards {
        width: 636px;
        max-width: 636px;
    }
}