.Input {
    color: var(--textColorMain);
}

.Input:focus {
    transition: 0.2s;
    color: var(--orangeHover);
}

.Input:hover {
    transition: 0.2s;
    color: var(--orangeHover);
    border: solid 1px var(--orangeHover);
}