.HomeSectionContent {
    width: 100%;
}

@media (min-width: 1024px) {
    .HomeSectionContent {
        width: 50%;
        max-width: 500px;
    }
}

.HomeSectionImage {
    width: 100%;
}

@media (min-width: 1024px) {
    .HomeSectionImage {
        width: 45%;
    }
}

.HomeSectionContent p {
    text-align: justify;
}