.Whatsapp {
    background-color: transparent;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 15px solid var(--componentsBackground);
    overflow: hidden;
    background-color: #59d67a;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 34px 10px var(--shadow);

    position: fixed;
    bottom: 30px;
    right: 30px;
}

.Whatsapp img {
    width: 32px;
    height: 32px;
    display: block;
}

.Whatsapp:hover {
    background-color: #8beea6;
}