@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

:root {
  --background: #1C1B24;
  --componentsBackground: #292732;
  --sectionsBackground: #3C1A51;

  --textColorMain: #F4F4F2;
  --textColorHover: #EAC9FF;
  --textColorContrast: #1C1B24;

  --purple: #734490;
  --orange: #DC7344;
  --blue: #0AD9CA;

  --purpleHover: #A67BC0;
  --orangeHover: #F5B396;

  --glow: #9b86a87a;
  /* box-shadow: 0px 0px 24px var(--glow); */

  --fontTitle: "Red Hat Display", sans-serif;
  --fontText: "Poppins", sans-serif;
}

body {
  background: var(--background);
  color: var(--textColorMain);
  font-family: var(--fontText);
  overflow-x: hidden;
  margin: 0;
}

section {
    width: 90vw;
}

h1, h2, h3, h4, h5 {
    font-family: var(--fontTitle);
    line-height: 110%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

p {
  font-weight: 300;
  line-height: 160%;
}
