.AboutSection {
    width: 100vw;
    background-color: var(--sectionsBackground);
}

.AboutSectionText {
    width: 100%;
    text-align: justify;
}

@media (min-width: 1024px) {
    .AboutSectionText {
        width: 50%;
        max-width: 500px;
    }
}

.AboutSectionImage {
    width: 100%;
}

@media (min-width: 1024px) {
    .AboutSectionImage {
        width: 45%;
    }
}