.Link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColorMain);
    height: 100%;
    padding: 0;
    line-height: 1.2;
    transition: 0.3s;
}

.Link:hover {
    color: var(--textColorHover);
}