.Link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColorMain);
    display: inline;
}

.Link:hover {
    color: var(--textColorHover);
    transition: 0.3s;
}